[submodule "shared/BEST-Energy"]
	path = shared/BEST-Energy
	url = git@github.com:olisystems/BEST-Energy.git
    branch = cl/oli-pycli
[submodule "shared/incubator-teaclave-sgx-sdk"]
	path = shared/incubator-teaclave-sgx-sdk
	url = git@github.com:Interstellar-Network/incubator-teaclave-sgx-sdk.git
	branch = interstellar-direct-client-android
